:root {
    --skin-color: #01021a;
    --skin-color-shade: #121220;
    --menu-background-color : #ffffff;
    --background-color-shade: #cec5bb;
    --Theme-color: #490101;
    --Theme-color-hover: #7c0000;
    --hover-color: #ffffffff;
}