:root {
    --background-color: #707070;
    --background-color-shade: #010226;
    --menu-background-color: #1a1b3c;
    --skin-color: #ffffffff;
    --skin-color-shade: #e6e6e6;
    --Theme-color: #0058fb;
    --Theme-color-hover: #081b44;
    --hover-color: #ffffffff;
}